hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
}

// Figures and images
// --------------------------------------------------
figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  @include clearfix();
  img {
    margin-bottom: 10px;
  }
  a {
    img {
      @include translate(0, 0);
      -webkit-transition-duration: 0.25s;
      -moz-transition-duration: 0.25s;
      -o-transition-duration: 0.25s;
      &:hover {
        @include translate(0, -5px);
        @include box-shadow(0 0 10px fade($base-color, 20));
      }
    }
  }
  &.half {
    @media screen and (min-width: 992px) {
      img {
        width: 310px;
        float: left;
        margin-right: 10px;
      }
      figcaption {
        clear: left;
      }
    }
  }
  &.third {
    @media screen and (min-width: 992px) {
      img {
        width: 200px;
        float: left;
        margin-right: 10px;
      }
      figcaption {
        clear: left;
      }
    }
  }
}
svg:not(:root) {
  overflow: hidden;
}
figure.center{
  text-align: center;
}

figure.center img{
  float: none;
}
// Buttons
// --------------------------------------------------
.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  font-size: 22px;
  background-color: $primary;
  color: $white;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: $primary;
  @include rounded(3px);
}
.btn-inverse {
  background-color: $white;
  color: $primary;
  border-color: $white;
  &:visited {
    color: $primary;
  }
  &:hover {
    background-color: $primary;
    color: $white;
  }
}
.btn-success {
  background-color: $success;
  color: $white;
  border-color: $success;
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $success;
  }
}
.btn-warning {
  background-color: $warning;
  color: $white;
  border-color: $warning;
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $warning;
  }
}
.btn-danger {
  background-color: $danger;
  color: $white;
  border-color: $danger;
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $danger;
  }
}
.btn-info {
  background-color: $info;
  color: $white;
  border-color: $info;
  &:visited {
    color: $white;
  }
  &:hover {
    background-color: $white;
    color: $info;
  }
}

// Well
// --------------------------------------------------
.well {
  padding: 20px;
  border: 1px solid $comp-color;
  @include rounded(4px);
}

.accomplishments {
  position: relative;
  @media screen and (min-width: 992px) {
    background-color: black;
  }
  height: 350px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.accomplishments-caption {
  @media screen and (max-width: 992px) {
    text-align: center;
    position: relative;
    margin-bottom: 10%;
    color: #000;
  }
  @media screen and (min-width: 992px) {
    text-align: center;
    position: absolute;
    color: #fff;
  }
  top: 7.5%;
  width: 100%;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 35px;
}

.accomplishments-row {
  @media screen and (max-width: 768px) {
    width: 100%;
    position: static;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    position: static;
    width: inherit;
  }
  @media screen and (min-width: 992px) {
    position: absolute;
    width: inherit;
  }
  top: 25%;
}

.accomplishment {
  img {
    height: 125px;
    min-width: 100px;
  }
  text-align: center;
  color: #000;
  @media screen and (max-width: 992px) {
    margin-bottom: 5%;
  }
}

.accomplishment-locked {
  img {
    height: 125px;
    min-width: 100px;
    opacity: .33;
  }
  text-align: center;
  color: #000;
  @media screen and (max-width: 992px) {
    margin-bottom: 5%;
  }
}

.accomplishment-title {
  margin-top: 5%;
  margin-bottom: 2%;
}

.accomplishment-title span {
  @media screen and (max-width: 992px) {
    background-color: #000;
    color: #fff;
    padding-left: 2px;
    padding-right: 2px;
    opacity: 1;
  }
  @media screen and (min-width: 992px) {
    color: #FFF;
    opacity: .8;
  }
  font-size: 18px;
}

.accomplishment-desc {
  font-family: 'Montserrat', 'Lato', sans-serif;
  padding-top: 2.5%;
}

.accomplishment-desc span {
  @media screen and (max-width: 992px) {
    color: #000;
    opacity: 1;
  }
  @media screen and (min-width: 992px) {
    color: #FFF;
    opacity: .8;
  }
    opacity: .8;
  font-size: 14px;
}
