@font-face {
	font-family: 'Zilla Slab';
	font-display: swap;
	src: url('https://beta.r3bl.me/assets/fonts/ZillaSlab-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url('https://beta.r3bl.me/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Lato';
	font-display: swap;
	src: url('https://beta.r3bl.me/assets/fonts/Lato-Regular.ttf');
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}

// Main
// --------------------------------------------------
.entry,
.hentry {
	@include clearfix;
	h1, h2, h3, h4, h5, h6, p, li {
		word-wrap: break-word;
	}
}
.entry-content {
	@include font-size(16);
	// Dotted line underlines for links
	p > a,
	li > a {
		border-bottom: 1px dotted lighten($link-color, 50);
		&:hover {
			border-bottom-style: solid;
		}
	}
	span {
		font-family: 'Zilla Slab', ;
		background-color: #000;
		color: #FFF;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 1px;
	}
}

.entry-date {
  text-transform: uppercase;
}

// Navigation

.summary-title {
	h1 {
		@media #{$medium} {
			margin-top: 15px;
			margin-bottom: 15px;
    	font-family: 'Montserrat', sans-serif;
			font-size: 50px;
		}
		@media #{$small} {
			font-family: 'Montserrat', sans-serif;
			font-size: 25px;
		}
	}
}

.summary-desc {
	.desc-short {
		font-family: 'Montserrat', sans-serif;
		@media #{$medium} {
			font-size: 20px;
		}
		margin-top: 10px;
		margin-bottom: 10px;
		@media #{$small} {
			width: 90%;
			padding-left: 5%;
			font-size: 16px;
		}
		a {
			color: rgba(51,51,51,0.8);
			border-bottom: 1px dotted rgba(51,51,51,0.8);
		}
		a:hover {
			color: rgba(51,51,51,0.8);
			border-bottom: 1px solid rgba(51,51,51,0.8);
		}
	}
	.desc-long {
		font-family: 'Lato', sans-serif;
		@media #{$medium} {
			font-size: 16px;
			line-height: 24px;
		}
		margin-top: 10px;
		margin-bottom: 10px;
		@media #{$small} {
			width: 90%;
			padding-left: 5%;
			font-size: 12px;
		}
		a {
			color: rgba(51,51,51,0.8);
			border-bottom: 1px dotted rgba(51,51,51,0.8);
		}
		a:hover {
			color: rgba(51,51,51,0.8);
			border-bottom: 1px solid rgba(51,51,51,0.8);
		}
	}
}

.summary-social {

}

.summary-tlds {
	margin-top: 5px;
	height: 150px;
	width: 100%;
	background-color: black;

	.tld-blog {
		background:
			linear-gradient(
				rgba(0, 0, 0, .35),
				rgba(0, 0, 0, .35)
			),
			url(https://beta.r3bl.me/assets/bling/blog.jpg);
		background-size: cover;
	}
	.tld-tech {
		background:
			linear-gradient(
				rgba(0, 0, 0, .35),
				rgba(0, 0, 0, .35)
			),
			url(https://beta.r3bl.me/assets/bling/tech.jpg);
		background-size: cover;
	}
	.tld-dj {
		background:
			linear-gradient(
				rgba(0, 0, 0, .35),
				rgba(0, 0, 0, .35)
				),
 			url(https://beta.r3bl.me/assets/bling/dj.jpg);
		background-size: cover;
	}
}

.tld-me, .tld-blog, .tld-tech, .tld-dj {
	@media #{$medium} {
		float: left;
		width: 25%;
		height: 100%;
	}
	@media #{$small} {
		float: left;
		width: 50%;
		height: 150px;
	}
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 32px;
}

// Browser Upgrade
// --------------------------------------------------
.upgrade {
	padding: 10px;
	text-align: center;
}

.btn-writing:hover {
	background: url("//r3bl.me/assets/bling/writing.jpg");
	background-size: cover;
}

.btn-programming:hover {
	background: url("//r3bl.me/assets/bling/programming.jpg");
	background-size: cover;
}

.btn-music:hover {
	background: url("//r3bl.me/assets/bling/music.jpg");
	background-size: cover;
}

.button-invisible {
	width: 1.5%;
	display: inline-block;
}

.buttons-homepage {
	text-align: center;
}

.listing {
	font-family: 'Raleway', sans-serif;
	h2 {
		text-align: center;
		padding-top: 40px;
		font-family: 'Montserrat', sans-serif;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	@media #{$medium} {
		width: 85%;
		padding-left: 15%;
		font-size: 18px;
	}
	@media #{$small} {
		font-size: 20px;
		width: 90%;
		padding-left: 5%;
	}
	padding-bottom: 3%;
}

.listing-homepage {
	list-style-type: none;
	padding-left: 0;
	padding-right: 0;
	padding-top: 2%;
	margin: 0;
	li {
		@media #{$medium} {
			padding-top: 0.75%;
			padding-bottom: 0.75%;
		}
		@media #{$small} {
			padding-top: 2%;
			padding-bottom: 2%;
		}
		a {
			color: rgba(51,51,51,0.8);
			border-bottom: 1px dotted rgba(51,51,51,0.8);
		}
		a:hover {
			color: rgba(51,51,51,0.8);
			border-bottom: 1px solid rgba(51,51,51,0.8);
		}
		span {
			font-family: 'Zilla Slab', 'Arial', 'Times New Roman';
			background-color: #000;
			color: #FFF;
			padding-left: 5px;
			padding-right:5px;
			padding-bottom:1px;
		}
	}
}

.mozilla-font {
	background-color: #000;
	color: #FFF;
	padding-left: 5px;
	padding-right:5px;
	font-family: 'Zilla Slab', 'Arial', 'Times New Roman';
}

.tabs {
	text-align: center;
	padding-top: 50px;
	font-size: 26px;
}

.black {
	background-color: #000;
	color: #fff !important;
	border-style: none;
}

.white {
	background-color: #fff;
	color: #000 !important;
	border-style: none;
}

.tablinks {
	padding: 5px;
	font-family: 'Zilla Slab', 'Arial', 'Times New Roman';
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
